.IngredientFormContainer{
    width: 1fr;
    height: 475px;
    margin: 0em 1em 1em 1em;
    border: 2px solid black;
    border-radius: 20px;

}


.IngredientItem {
    display:flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
}

.ingredientInput{
    border-radius: 4px;
    width: 60%;
    font-size: 20px;
    margin: 12px 5px 0px 20px;
}

.ingredientInputAmount {
    width: 50px;
    font-size: 20px;
    margin-top: 12px;
}

.ingredientButton{
   border: none;
   padding: none;
   color: inherit;
   background: none;
   margin-top: 12px;
}

.ingredientButton:focus {
    outline: none;
}


.ingredientButton > i{  
    font-size: 33px;
}

.ingredientButton.add > i{  
    font-size: 33px;
    margin-left: 15px;
}