.Container-Navbar{
    display: flex;
    align-items: center;
    margin-top: 0px;
}



#profile{
    margin-left: 2em;

}

#searchResults {
    margin-left: 10%;
    margin-right: 10%;
    flex: 2;
  
}

#signIn {
    margin-right: 2em;
    
}


/* Search input form */
form > input {
    min-width: 500px;
    font-size: 35px;
    float: left;
    
    border: 1px solid gray;
    border-right: none;
    border-radius: 15px 0px 0px 15px;
}

form > button {
    height: 44px;
    border: 1px solid gray;
    border-radius: 0px 15px 15px 0px;
    width: 45px;
    float: left;
}

form > button > i {
    font-size: 20px;
}