.SearchItemContainer{
    position: relative;
    width: 300px;
    display: grid;
    grid-template-areas: "img" 
                        "description"
                        "author";
    grid-template-columns: 1fr;
    grid-template-rows: 300px 50px 40px;

    border: 5px solid black;
}

.SearchItemImg{
    grid-area: img;
}

.SearchItemImg > img{
    width:100%;
    height: 100%;
    object-fit: cover;
}


.SearchItemDescription{
    grid-area: description;
    background-color: yellow;
}

.SearchItemDescription > h5 {
    margin: 0;
}


.Author{
    grid-area: author;
    background-color: green;
}

.Author > p {
    margin: 0;
}

.Favorite{
    position: absolute;
    top: 0;
    right: 0;
    color: red;
    font-size: 35px;

}